In [1]:
import numpy as np
import pandas as pd
import re 
from Bio import SeqIO
from collections import defaultdict

In [2]:
# Save the data
data = defaultdict(list)

#Read the values from the .fasta file, and save them to data
for seq_record in SeqIO.parse("combined_1.fasta", "fasta"):
    query=seq_record.id
    sequence= repr(seq_record.seq)
    length=len(seq_record)
    data['Query'].append(query)
    data['Sequence'].append(sequence)
    data['Length'].append(length)
    
#Add the data to a dataframe
df = pd.DataFrame.from_dict(data)

In [3]:
df.head()

,Query,Sequence,Length
0,gb|FJ503047|+|0-519|ARO:3002592|AAC(6')-Ib-Han...,Seq('ATGACTGAGCATGACCTTGTGATGCTCTATGAGTGGCTAAA...,519
1,gb|EU085533|+|0-519|ARO:3002591|AAC(6')-Ib-Suzhou,Seq('ATGACTGAGCATGACCTTGCGATGCTCTATGAGTGGCTAAA...,519
2,gb|DQ303918|+|0-600|ARO:3002547|AAC(6')-Ib-cr,Seq('ATGAGCAACGCAAAAACAAAGTTAGGCATCACAAAGTACAG...,600
3,gb|JQ808129|+|633-1188|ARO:3002546|AAC(6')-Ib,Seq('GTGACCAACAGCAACGATTCCGTAACACTGCGCCTCATGAC...,555
4,gb|U59183|+|247-859|ARO:3002581|AAC(6')-Ib10,Seq('ATGTTACGCAGCAGCAGTCGCCCTAAAACAAAGTTAGGCAT...,612

In [4]:
df['Sequence'] = df['Sequence'].str.replace('Seq(''', '')

In [7]:
df['Sequence'] = df['Sequence'].str.replace(')', '')

In [8]:
df

,Query,Sequence,Length
0,gb|FJ503047|+|0-519|ARO:3002592|AAC(6')-Ib-Han...,'ATGACTGAGCATGACCTTGTGATGCTCTATGAGTGGCTAAATCGA...,519
1,gb|EU085533|+|0-519|ARO:3002591|AAC(6')-Ib-Suzhou,'ATGACTGAGCATGACCTTGCGATGCTCTATGAGTGGCTAAATCGA...,519
2,gb|DQ303918|+|0-600|ARO:3002547|AAC(6')-Ib-cr,'ATGAGCAACGCAAAAACAAAGTTAGGCATCACAAAGTACAGCATC...,600
3,gb|JQ808129|+|633-1188|ARO:3002546|AAC(6')-Ib,'GTGACCAACAGCAACGATTCCGTAACACTGCGCCTCATGACTGAG...,555
4,gb|U59183|+|247-859|ARO:3002581|AAC(6')-Ib10,'ATGTTACGCAGCAGCAGTCGCCCTAAAACAAAGTTAGGCATCACA...,612
...,...,...,...
373,gb|U00096|+|2367070-2368039|ARO:3003578|pmrF,'ATGTTTGAAATCCACCCTGTTAAGAAAGTCTCGGTGGTTATTCCC...,969
374,gb|JF969163|+|1053-1893|ARO:3000410|sul1,'ATGGTGACGGTGTTCGGCATTCTGAATCTCACCGAGGACTCCTTC...,840
375,gb|AY055428.1|-|20268-21084|ARO:3000412|sul2,'ATGAATAAATCGCTCATCATTTTCGGCATCGTCAACATAACCTCG...,816
376,gb|AM990992.1|-|1001760-1003680|ARO:3000186|tetM,'ATGAAAATTATTAATATTGGAGTTTTAGCTCATGTTGATGCAGGA...,1920
377,gb|U00096|-|2098446-2099613|ARO:3003577|ugd,'ATGAAAATCACCATTTCCGGTACTGGCTATGTAGGCTTGTCAAAC...,1167

In [13]:
df['Sequence'] = df['Sequence'].str.strip(" \' ")

In [14]:
df['Sequence']=df['Sequence'].str.rstrip()

In [15]:
df

,Query,Sequence,Length
0,gb|FJ503047|+|0-519|ARO:3002592|AAC(6')-Ib-Han...,ATGACTGAGCATGACCTTGTGATGCTCTATGAGTGGCTAAATCGAT...,519
1,gb|EU085533|+|0-519|ARO:3002591|AAC(6')-Ib-Suzhou,ATGACTGAGCATGACCTTGCGATGCTCTATGAGTGGCTAAATCGAT...,519
2,gb|DQ303918|+|0-600|ARO:3002547|AAC(6')-Ib-cr,ATGAGCAACGCAAAAACAAAGTTAGGCATCACAAAGTACAGCATCG...,600
3,gb|JQ808129|+|633-1188|ARO:3002546|AAC(6')-Ib,GTGACCAACAGCAACGATTCCGTAACACTGCGCCTCATGACTGAGC...,555
4,gb|U59183|+|247-859|ARO:3002581|AAC(6')-Ib10,ATGTTACGCAGCAGCAGTCGCCCTAAAACAAAGTTAGGCATCACAA...,612
...,...,...,...
373,gb|U00096|+|2367070-2368039|ARO:3003578|pmrF,ATGTTTGAAATCCACCCTGTTAAGAAAGTCTCGGTGGTTATTCCCG...,969
374,gb|JF969163|+|1053-1893|ARO:3000410|sul1,ATGGTGACGGTGTTCGGCATTCTGAATCTCACCGAGGACTCCTTCT...,840
375,gb|AY055428.1|-|20268-21084|ARO:3000412|sul2,ATGAATAAATCGCTCATCATTTTCGGCATCGTCAACATAACCTCGG...,816
376,gb|AM990992.1|-|1001760-1003680|ARO:3000186|tetM,ATGAAAATTATTAATATTGGAGTTTTAGCTCATGTTGATGCAGGAA...,1920
377,gb|U00096|-|2098446-2099613|ARO:3003577|ugd,ATGAAAATCACCATTTCCGGTACTGGCTATGTAGGCTTGTCAAACG...,1167

In [16]:
#Create a dataframe for Bandage Combined1
Bandage_Combined1= pd.read_csv('Bandageoutputcombined1.tsv', sep='\t')